@use './var.scss' as *;
@use './transition.scss' as *;
@use './efk.scss' as *;
@use './flow.scss' as *;
@use './fux-core.scss' as *;

body {
  position: relative;
}

html {
  --color-border-alt: rgba(5, 5, 5, 0.06);
  --color-bg-alt: rgba(255, 255, 255, 0.6);
  --color-bg-layout-alpha: rgba(245, 245, 245, 0.6);

  &.dark {
    --color-border-alt: rgba(255, 255, 255, 0.2);
    --color-bg-alt: rgba(31, 31, 31, 0.66);
    --color-bg-layout-alpha: rgba(0, 0, 0, 0.2);
  }
}

.ant-app,
#app {
  height: 100%;
}

#nprogress .bar {
  background: var(--color-primary);
}

.scrollbar__thumb {
  background-color: var(--color-fill);
}

.echart-tooltip {
  background-color: rgba(#{var(--color-bg-container)}, 0.8) !important;
  backdrop-filter: blur(8px);
  border-color: var(--color-border) !important;
}

.view {
  @apply p-4 lg:px-6;
}

.ant-picker {
  width: 100%;
}

.dense-form {
  .ant-form-item {
    margin-bottom: 0px !important;
  }
}

.fullscreen-modal {
  .ant-modal {
    max-width: 100%;
    top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .ant-modal-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-radius: 0;
  }
  .ant-modal-body {
    flex: 1;
  }
  .modal-content-wrapper {
    // fullscreen modal content wrapper element
    height: calc(100vh - 116px);
  }
}

.field-help {
  font-size: 16px;
  color: var(--color-text-secondary);
}

// html.dark .shiki,
// html.dark .shiki span {
//   color: var(--shiki-dark) !important;
//   background-color: var(--shiki-dark-bg) !important;
//   /* 可选，用于定义字体样式 */
//   font-style: var(--shiki-dark-font-style) !important;
//   font-weight: var(--shiki-dark-font-weight) !important;
//   text-decoration: var(--shiki-dark-text-decoration) !important;
// }

.audit-view {
  .ant-select-disabled .ant-select-selector {
    background-color: transparent !important;
    color: var(--color-text) !important;
    border: none !important;
    border-bottom: 1px solid var(--color-border-secondary) !important;
    border-radius: 0 !important;
  }
  .ant-input-affix-wrapper-disabled {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid var(--color-border-secondary) !important;
    border-radius: 0 !important;
    input {
      color: var(--color-text) !important;
    }
  }
  .ant-picker-disabled {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid var(--color-border-secondary) !important;
    border-radius: 0 !important;
    color: var(--color-text) !important;
    input {
      color: var(--color-text) !important;
    }
  }
  .ant-input-number-affix-wrapper {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid var(--color-border-secondary) !important;
    background-color: transparent !important;
    border-radius: 0 !important;
  }
  .ant-input-number-disabled {
    background-color: transparent !important;
    .ant-input-number-input-wrap {
      background-color: transparent !important;
      color: var(--color-text) !important;
    }
    input {
      color: var(--color-text) !important;
    }
  }
  textarea[disabled] {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid var(--color-border-secondary) !important;
    border-radius: 0 !important;
    color: var(--color-text) !important;
  }
}
